{
  extends: [
    'eslint-config-airbnb-base',
    'eslint-config-airbnb-base/rules/strict',
  ],
  parser: 'babel-eslint',
  rules: {
    'max-len': [2, 80, 2, {
      ignoreUrls: true,
      ignoreComments: false
    }],
    'comma-dangle': ['error', {
      arrays: 'always-multiline',
      objects: 'always-multiline',
      imports: 'always-multiline',
      exports: 'always-multiline',
      functions: 'ignore',
    }],
    'import/no-unresolved': ['off'],
    'import/extensions': ['off'],
    'import/no-extraneous-dependencies': ['off'],
    'import/no-webpack-loader-syntax': ['off'],
  }
}
