<div class="editor-row">
  <div class="gf-form-group">
    <h5 class="section-heading">Default Map Details</h5>
    <div class="gf-form">
      <label class="gf-form-label width-8">Map Name (RE)</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.map" ng-change="ctrl.render()" ng-model-onblur placeholder="Open.Street.Map">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">Map Scene Mode (2D,3D)</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.scenemode" ng-change="ctrl.render()" ng-model-onblur placeholder="3D">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">Map Home Rect(W,S,E,N)</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.home" ng-change="ctrl.render()" ng-model-onblur placeholder="0.0,0.0,100.0,100.0">
    </div>
  </div>
    <h5 class="section-heading">CZML Server</h5>
    <div class="gf-form">
      <label class="gf-form-label width-8">Base URL</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.url" ng-change="ctrl.render()" ng-model-onblur placeholder="http://localhost:2222">
    </div>
    <div class="gf-form">
      <label class="gf-form-label width-8">Querystring</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.query" ng-change="ctrl.render()" ng-model-onblur placeholder="from=$timeFrom&amp;to=$timeTo">
    </div>
  </div>
  <div class="gf-form-group">
    <h5 class="section-heading">Bing API Key</h5>
    <div class="gf-form">
      <label class="gf-form-label">Key</label>
      <input type="text" class="gf-form-input" ng-model="ctrl.panel.bingKey" ng-change="ctrl.render()" ng-model-onblur>
    </div>
  </div>
</div>
